

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #f7d9e3, #f3f7d9);
}

.login-box button:nth-child(1) {
  background-color: #28a745; /* verde login */
}

.login-box button:nth-child(2) {
  background-color: #007bff; /* azul registro */
}
.logo {
  width: 120px;
  height: auto;
  display: block;
  margin: 0 auto 20px auto;
}
input {
  width: 90%;
  padding: 12px;
  margin: 10px 0;
  border: none;
  background: #f5f5f5;
  border-radius: 10px;
}

button {
  width: 95%;
  padding: 12px;
  background: #8bc34a;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #6fae3a;
}
.dashboard {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 15px;
  margin: 20px 0;
}

.card {
  padding: 20px;
  border-radius: 12px;
  font-weight: bold;
}

.tabla-inventario {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

.tabla-inventario th,
.tabla-inventario td {
  border: 1px solid #999;
  padding: 10px;
  text-align: center;
}

.footer {
  text-align: center;
  margin-top: 30px;
}
.dashboard {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 15px;
  margin: 20px 0;
}

.card {
  padding: 15px;
  border-radius: 12px;
  font-weight: bold;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  transition: transform 0.2s ease;
}

.card:hover {
  transform: scale(1.03);
}
.boton-guardar {
  background-color: green;
  color: white;
  padding: 10px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.boton-guardar:hover {
  background-color: #0a7a0a;
}

.boton-ordenar {
  background-color: #444;
  color: white;
  padding: 10px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.boton-ordenar:hover {
  background-color: #222;
}
.input-form {
  display: block;
  width: 100%;
  max-width: 400px;
  margin: 10px auto;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.btn-guardar {
  display: block;
  width: 200px;
  margin: 15px auto;
  padding: 12px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  
}

.btn-guardar:hover {
  background-color: darkgreen;
  transform: scale(1.05);
}

.btn-ordenar {
  display: block;
  width: 200px;
  margin: 15px auto;
  padding: 10px;
  background-color: #343a40;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-ordenar:hover {
  background-color: #23272b;
  transform: scale(1.05);
}